body {
    font-family: 'Outfit', sans-serif;
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: #d5e1ef;
}

.card {
    text-align: center;
    margin: 0 auto;
    height: 100%;
    display: grid;
    align-content: center;
}

.card-content {
    background-color: white;
    width: 20em;
    padding: 1em;
    border-radius: 1.1em;
    box-shadow: 0 0 10px 0;
}

.card-content img {
    height: 20em;
    border-radius: 0.6em;
}

h1 {
    font-size: 1.6em;
    margin-bottom: 0;
}

h2 {
    font-size: 1.1em;
    font-weight: 300;
    color: rgb(131, 131, 131);
    padding: 1em;
    margin-top: 0;
}

.attribution { 
    font-size: 11px;
    text-align: center;
    
}
.attribution a { color: hsl(228, 45%, 44%); }