body {
    font-family: 'Outfit', sans-serif;
    background-color: #d5e1ef;
    height: 100vh;
}

.card {
    background-color: white;
}

.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }