body {
    font-family: 'Outfit', sans-serif;
    background-color: #d5e1ef;
    height: 100vh;
    margin: 0;
    padding: 0;
}

.card {
    background-color: white;
    text-align: center
    margin-top: ;
}

.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }